body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #1E1E1E;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
  }
  
  section {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h2 {
    font-family:sans-serif;
    color: #D72638;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .fonts1 {
    font-family: 'Exo 2', sans-serif;
}
.fonts2 {
    font-family: 'Roboto', sans-serif;
}
  